In [91]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# LOADING ENROLMENT DATASETS

In [92]:
df_enrol_1 = pd.read_csv(r'api_data_aadhar_enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv')
df_enrol_2 = pd.read_csv(r'api_data_aadhar_enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv')
df_enrol_3 = pd.read_csv(r'api_data_aadhar_enrolment/api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv')

In [93]:
df_enrol_1.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [94]:
df_enrol_2.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,26-10-2025,Andhra Pradesh,Nalgonda,508004,0,1,0
1,26-10-2025,Andhra Pradesh,Nalgonda,508238,1,0,0
2,26-10-2025,Andhra Pradesh,Nalgonda,508278,1,0,0
3,26-10-2025,Andhra Pradesh,Nandyal,518432,0,1,0
4,26-10-2025,Andhra Pradesh,Nandyal,518543,1,0,0

In [95]:
df_enrol_3.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

## MERGE ENROLMENT DATASETS

In [96]:
total_enrolment = pd.concat([df_enrol_1, df_enrol_2, df_enrol_3], ignore_index=True)

In [97]:
total_enrolment.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [98]:
total_enrolment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006029 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1006029 non-null  object
 1   state           1006029 non-null  object
 2   district        1006029 non-null  object
 3   pincode         1006029 non-null  int64
 4   age_0_5         1006029 non-null  int64
 5   age_5_17        1006029 non-null  int64
 6   age_18_greater  1006029 non-null  int64
dtypes: int64(4), object(3)
memory usage: 53.7+ MB

In [99]:
total_enrolment.describe()

            pincode       age_0_5      age_5_17  age_18_greater
count  1.006029e+06  1.006029e+06  1.006029e+06    1.006029e+06
mean   5.186415e+05  3.525709e+00  1.710074e+00    1.673441e-01
std    2.056360e+05  1.753851e+01  1.436963e+01    3.220525e+00
min    1.000000e+05  0.000000e+00  0.000000e+00    0.000000e+00
25%    3.636410e+05  1.000000e+00  0.000000e+00    0.000000e+00
50%    5.174170e+05  2.000000e+00  0.000000e+00    0.000000e+00
75%    7.001040e+05  3.000000e+00  1.000000e+00    0.000000e+00
max    8.554560e+05  2.688000e+03  1.812000e+03    8.550000e+02

In [100]:
total_enrolment.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

# LOAD BIOMATRIC UPDATE DATASET

In [101]:
df_biometric_1 = pd.read_csv(r'api_data_aadhar_biometric/api_data_aadhar_biometric/api_data_aadhar_biometric_0_500000.csv')
df_biometric_2= pd.read_csv(r'api_data_aadhar_biometric/api_data_aadhar_biometric/api_data_aadhar_biometric_500000_1000000.csv')
df_biometric_3= pd.read_csv(r'api_data_aadhar_biometric/api_data_aadhar_biometric/api_data_aadhar_biometric_1000000_1500000.csv')
df_biometric_4= pd.read_csv(r'api_data_aadhar_biometric/api_data_aadhar_biometric/api_data_aadhar_biometric_1500000_1861108.csv')

In [102]:
df_biometric_1.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [103]:
df_biometric_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          500000 non-null  object
 1   state         500000 non-null  object
 2   district      500000 non-null  object
 3   pincode       500000 non-null  int64
 4   bio_age_5_17  500000 non-null  int64
 5   bio_age_17_   500000 non-null  int64
dtypes: int64(3), object(3)
memory usage: 22.9+ MB

In [104]:
df_biometric_1.shape

(500000, 6)

In [105]:
df_biometric_2.head()

         date state   district  pincode  bio_age_5_17  bio_age_17_
0  19-09-2025   Goa  North Goa   403502             0            4
1  19-09-2025   Goa  North Goa   403508             1            4
2  19-09-2025   Goa  North Goa   403513             2            0
3  19-09-2025   Goa  North Goa   403527             2            2
4  19-09-2025   Goa  South Goa   403601             7            3

In [106]:
df_biometric_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          500000 non-null  object
 1   state         500000 non-null  object
 2   district      500000 non-null  object
 3   pincode       500000 non-null  int64
 4   bio_age_5_17  500000 non-null  int64
 5   bio_age_17_   500000 non-null  int64
dtypes: int64(3), object(3)
memory usage: 22.9+ MB

In [107]:
df_biometric_2.shape

(500000, 6)

In [108]:
df_biometric_3.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamunanagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [109]:
df_biometric_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          500000 non-null  object
 1   state         500000 non-null  object
 2   district      500000 non-null  object
 3   pincode       500000 non-null  int64
 4   bio_age_5_17  500000 non-null  int64
 5   bio_age_17_   500000 non-null  int64
dtypes: int64(3), object(3)
memory usage: 22.9+ MB

In [110]:
df_biometric_3.shape

(500000, 6)

In [111]:
df_biometric_4.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,08-12-2025,Uttar Pradesh,Moradabad,244411,4,2
1,08-12-2025,Uttar Pradesh,Moradabad,244601,14,19
2,08-12-2025,Uttar Pradesh,Muzaffarnagar,251002,22,37
3,08-12-2025,Uttar Pradesh,Muzaffarnagar,251202,4,4
4,08-12-2025,Uttar Pradesh,Muzaffarnagar,251319,4,7

In [112]:
df_biometric_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361108 entries, 0 to 361107
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          361108 non-null  object
 1   state         361108 non-null  object
 2   district      361108 non-null  object
 3   pincode       361108 non-null  int64
 4   bio_age_5_17  361108 non-null  int64
 5   bio_age_17_   361108 non-null  int64
dtypes: int64(3), object(3)
memory usage: 16.5+ MB

In [113]:
df_biometric_4.shape

(361108, 6)

## MERGE BIOMETRIC DATASETS

In [114]:
total_biometric = pd.concat([df_biometric_1, df_biometric_2, df_biometric_3, df_biometric_4], ignore_index=True)

In [115]:
total_biometric.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [116]:
total_biometric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861108 entries, 0 to 1861107
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   date          object
 1   state         object
 2   district      object
 3   pincode       int64
 4   bio_age_5_17  int64
 5   bio_age_17_   int64
dtypes: int64(3), object(3)
memory usage: 85.2+ MB

In [117]:
total_biometric.shape

(1861108, 6)

# LOAD DEMOGRAPHIC DATASETS

In [118]:
df_demo_1 = pd.read_csv(r'api_data_aadhar_demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_0_500000.csv')
df_demo_2 = pd.read_csv(r'api_data_aadhar_demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_500000_1000000.csv')
df_demo_3 = pd.read_csv(r'api_data_aadhar_demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_1000000_1500000.csv')
df_demo_4 = pd.read_csv(r'api_data_aadhar_demographic/api_data_aadhar_demographic/api_data_aadhar_demographic_2000000_2071700.csv')

In [119]:
df_demo_1.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [120]:
df_demo_2.head()

         date        state    district  pincode  demo_age_5_17  demo_age_17_
0  19-09-2025  Maharashtra      Satara   415517              0             2
1  19-09-2025  Maharashtra      Satara   415518              0             2
2  19-09-2025  Maharashtra      Satara   415520              0             3
3  19-09-2025  Maharashtra      Satara   415539              1             5
4  19-09-2025  Maharashtra  Sindhudurg   416510              4            37

In [121]:
df_demo_3.head()

         date       state    district  pincode  demo_age_5_17  demo_age_17_
0  01-11-2025  Puducherry    Karaikal   609603              0             4
1  01-11-2025  Puducherry    Karaikal   609605              0             3
2  01-11-2025  Puducherry    Karaikal   609606              0             5
3  01-11-2025  Puducherry  Puducherry   605011              2             6
4  01-11-2025  Puducherry  Puducherry   605111              0             1

In [122]:
df_demo_4.head()

         date           state  district  pincode  demo_age_5_17  demo_age_17_
0  16-12-2025  Madhya Pradesh  Shajapur   465113              0             4
1  16-12-2025  Madhya Pradesh  Shajapur   465226              2            14
2  16-12-2025  Madhya Pradesh  Shajapur   465339              1             2
3  16-12-2025  Madhya Pradesh  Shajapur   465447              1            19
4  16-12-2025  Madhya Pradesh   Sheopur   476332             11            25

## MERGE DEMOGRAPHIC DATASETS

In [123]:
total_demographic = pd.concat([df_demo_1, df_demo_2, df_demo_3, df_demo_4], ignore_index=True)

In [124]:
total_demographic.head(5)

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [125]:
total_demographic.shape

(1571700, 6)

In [126]:
total_enrolment.head(5)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [127]:
total_biometric.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

## Clean + Standardize (Date + Pincode)

In [128]:
# 1) Convert date column to datetime
for df in [total_enrolment, total_demographic, total_biometric]:
    df["date"] = pd.to_datetime(df["date"], format="%d-%m-%Y", errors="coerce")

# 2) Remove rows where date/state/district/pincode is missing
total_enrolment = total_enrolment.dropna(subset=["date", "state", "district", "pincode"])
total_demographic = total_demographic.dropna(subset=["date", "state", "district", "pincode"])
total_biometric = total_biometric.dropna(subset=["date", "state", "district", "pincode"])

# 3) Convert pincode to numeric and then int
for df in [total_enrolment, total_demographic, total_biometric]:
    df["pincode"] = pd.to_numeric(df["pincode"], errors="coerce")

total_enrolment = total_enrolment.dropna(subset=["pincode"])
total_demographic = total_demographic.dropna(subset=["pincode"])
total_biometric = total_biometric.dropna(subset=["pincode"])

total_enrolment["pincode"] = total_enrolment["pincode"].astype(int)
total_demographic["pincode"] = total_demographic["pincode"].astype(int)
total_biometric["pincode"] = total_biometric["pincode"].astype(int)

print(" date & pincode cleaned successfully!")
print("Enrolment shape:", total_enrolment.shape)
print("Demographic shape:", total_demographic.shape)
print("Biometric shape:", total_biometric.shape)

 date & pincode cleaned successfully!
Enrolment shape: (1006029, 7)
Demographic shape: (1571700, 6)
Biometric shape: (1861108, 6)

## Merge Enrolment + Demographic + Biometric

In [129]:
# 1) Merge Enrolment with Demographic updates
df_merged = total_enrolment.merge(
    total_demographic,
    on=["date", "state", "district", "pincode"],
    how="left"
)

# 2) Merge the result with Biometric updates
df_merged = df_merged.merge(
    total_biometric,
    on=["date", "state", "district", "pincode"],
    how="left"
)

print("All datasets merged successfully!")
print("Merged shape:", df_merged.shape)

df_merged.head()

All datasets merged successfully!
Merged shape: (1160103, 11)

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37,NaN,NaN,NaN,NaN
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39,NaN,NaN,NaN,NaN
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,NaN,NaN,NaN,NaN
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15,NaN,NaN,NaN,NaN
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21,NaN,NaN,NaN,NaN

In [130]:
df_merged['state'].nunique()

55

In [131]:
df_merged['state'].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'The Dadra And Nagar Haveli And Daman And Diu',
       'Arunachal Pradesh', 'Himachal Pradesh', 'Goa',
       'Jammu And Kashmir', 'Dadra and Nagar Haveli and Daman and Diu',
       'Ladakh', 'Andaman and Nicobar Islands', 'Orissa', 'Pondicherry',
       'Puducherry', 'Lakshadweep', 'Andaman & Nicobar Islands',
       'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'WEST BENGAL', 'Jammu & Kashmir', 'West  Bengal', '100000',
       'Daman & Diu', 'West Bangal', 'Westbengal', 'West bengal',
       'andhra pradesh', 'ODISHA', 'WESTBENGAL'], dtype=object)

### Clean state

In [132]:
#  1) Cleaning function
def clean_state(x):
    if pd.isna(x):
        return np.nan
    x = str(x).strip()
    x = x.lower()
    x = re.sub(r'[^a-z\s]', ' ', x)      # remove symbols: &, ., etc
    x = re.sub(r'\s+', ' ', x).strip()  # remove extra spaces
    return x

#  2) Make cleaned state column
df_merged["state_clean"] = df_merged["state"].apply(clean_state)

#  3) Remove garbage numeric state like "100000"
df_merged = df_merged[~df_merged["state_clean"].astype(str).str.isnumeric()]

#  4) Mapping all variants to 36 official names
state_map = {

    #  West Bengal
    "west bengal": "West Bengal",
    "west bangal": "West Bengal",
    "westbengal": "West Bengal",
    "westbengal ": "West Bengal",
    "west bengal ": "West Bengal",
    "west  bengal": "West Bengal",
    "west bengal": "West Bengal",

    #  Odisha
    "odisha": "Odisha",
    "orissa": "Odisha",

    #  Jammu & Kashmir
    "jammu and kashmir": "Jammu & Kashmir",
    "jammu kashmir": "Jammu & Kashmir",
    "jammu kashmir ut": "Jammu & Kashmir",

    #  Dadra and Nagar Haveli and Daman and Diu
    "dadra and nagar haveli and daman and diu": "Dadra And Nagar Haveli And Daman And Diu",
    "the dadra and nagar haveli and daman and diu": "Dadra And Nagar Haveli And Daman And Diu",
    "dadra and nagar haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "dadra nagar haveli": "Dadra And Nagar Haveli And Daman And Diu",
    "dadra nagar haveli and daman and diu": "Dadra And Nagar Haveli And Daman And Diu",
    "daman and diu": "Dadra And Nagar Haveli And Daman And Diu",
    "daman diu": "Dadra And Nagar Haveli And Daman And Diu",

    #  Puducherry
    "puducherry": "Puducherry",
    "pondicherry": "Puducherry",

    #  Andaman & Nicobar Islands
    "andaman and nicobar islands": "Andaman & Nicobar Islands",
    "andaman nicobar islands": "Andaman & Nicobar Islands",

    #  Andhra Pradesh
    "andhra pradesh": "Andhra Pradesh",

    #  Direct correct mappings (States + UT)
    "assam": "Assam",
    "bihar": "Bihar",
    "chandigarh": "Chandigarh",
    "chhattisgarh": "Chhattisgarh",
    "delhi": "Delhi",
    "goa": "Goa",
    "gujarat": "Gujarat",
    "haryana": "Haryana",
    "himachal pradesh": "Himachal Pradesh",
    "jharkhand": "Jharkhand",
    "karnataka": "Karnataka",
    "kerala": "Kerala",
    "ladakh": "Ladakh",
    "lakshadweep": "Lakshadweep",
    "madhya pradesh": "Madhya Pradesh",
    "maharashtra": "Maharashtra",
    "manipur": "Manipur",
    "meghalaya": "Meghalaya",
    "mizoram": "Mizoram",
    "nagaland": "Nagaland",
    "punjab": "Punjab",
    "rajasthan": "Rajasthan",
    "sikkim": "Sikkim",
    "tamil nadu": "Tamil Nadu",
    "telangana": "Telangana",
    "tripura": "Tripura",
    "uttar pradesh": "Uttar Pradesh",
    "uttarakhand": "Uttarakhand"
}

#  5) Apply mapping
df_merged["state_fixed"] = df_merged["state_clean"].map(state_map)

#  6) Drop rows which are still not mapped
df_merged = df_merged.dropna(subset=["state_fixed"])

#  7) Final check
print(" Unique states/UT after fixing:", df_merged["state_fixed"].nunique())
print(df_merged["state_fixed"].unique())

 Unique states/UT after fixing: 35
['Meghalaya' 'Karnataka' 'Uttar Pradesh' 'Bihar' 'Maharashtra' 'Haryana'
 'Rajasthan' 'Punjab' 'Delhi' 'Madhya Pradesh' 'West Bengal' 'Assam'
 'Uttarakhand' 'Gujarat' 'Andhra Pradesh' 'Tamil Nadu' 'Chhattisgarh'
 'Jharkhand' 'Nagaland' 'Manipur' 'Telangana' 'Tripura' 'Mizoram'
 'Jammu & Kashmir' 'Chandigarh' 'Sikkim' 'Odisha' 'Kerala'
 'Dadra And Nagar Haveli And Daman And Diu' 'Himachal Pradesh' 'Goa'
 'Ladakh' 'Andaman & Nicobar Islands' 'Puducherry' 'Lakshadweep']

In [133]:
expected_36 = set([
    # 28 States
    "Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana",
    "Himachal Pradesh","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya",
    "Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura",
    "Uttar Pradesh","Uttarakhand","West Bengal",
    # 8 UT
    "Andaman & Nicobar Islands","Chandigarh","Delhi","Dadra And Nagar Haveli And Daman And Diu",
    "Jammu & Kashmir","Ladakh","Lakshadweep","Puducherry"
])

present = set(df_merged["state_fixed"].unique())

print(" Missing from dataset:", expected_36 - present)
print(" Extra (should be none):", present - expected_36)

 Missing from dataset: {'Arunachal Pradesh'}
 Extra (should be none): set()

### Replace state column with cleaned state

In [134]:
df_merged["state"] = df_merged["state_fixed"]
df_merged = df_merged.drop(columns=["state_fixed"])
print(" state column replaced with cleaned version.")

 state column replaced with cleaned version.

# Clean Districts

In [135]:
df_merged['district'].unique()

array(['East Khasi Hills', 'Bengaluru Urban', 'Kanpur Nagar', 'Aligarh',
       'Sitamarhi', 'Bahraich', 'Firozabad', 'Purbi Champaran',
       'Maharajganj', 'Aurangabad', 'Ghaziabad', 'Faridabad', 'Madhubani',
       'Sikar', 'Bhagalpur', 'Amritsar', 'Gurugram',
       'Gautam Buddha Nagar', 'West Delhi', 'Bhind', 'Gwalior', 'Katni',
       'Coochbehar', 'Lucknow', 'Dinajpur Uttar', 'Marigaon', 'Kokrajhar',
       'Agra', 'Haridwar', 'Nagaon', 'Parbhani', 'West Khasi Hills',
       'North West Delhi', 'West Jaintia Hills', 'Unnao', 'Saharanpur',
       'Dibrugarh', 'Udalguri', 'Chirang', 'Kamrup', 'Dhubri', 'Jaunpur',
       'Thane', 'Dhemaji', 'Banas Kantha', 'Tinsukia', 'Spsr Nellore',
       'Barpeta', 'Sonitpur', 'Baksa', 'Ludhiana', 'Patan', 'Kanchipuram',
       'Patna', 'Lakhimpur', 'Bongaigaon', 'Vadodara', 'Nainital',
       'Dehradun', 'Hojai', 'Dohad', 'Morbi', 'Raipur', 'Gorakhpur',
       'Bulandshahr', 'Mathura', 'Pashchim Champaran', 'Bijapur',
       'Deoghar', 'Muzaffarpur', 'Banda', 'Kachchh', 'Ri Bhoi', 'Darrang',
       'Ashok Nagar', 'Darjeeling', 'North Cachar Hills', 'Ranchi',
       'Surat', 'Nanded', 'Bengaluru', 'Jorhat', 'Gir Somnath',
       'Kamrup Metro', 'Goalpara', 'Bhavnagar', 'Golaghat', 'Nagpur',
       'Cooch Behar', 'Jalgaon', 'Hingoli', 'Ahmadnagar', 'Gandhinagar',
       'North 24 Parganas', 'Munger', 'Kohima', 'Jalor', 'Kheda',
       'Nalbari', 'Palghar', 'Jodhpur', 'Central Delhi', 'Gaya',
       'Sabarkantha', 'Dimapur', 'Cachar', 'Banaskantha', 'Kheri',
       'Rajkot', 'Satara', 'Betul', 'West Karbi Anglong', 'South Delhi',
       'Raigad', 'Uttar Dinajpur', 'Guna', 'Kaimur (Bhabua)', 'Dholpur',
       'Churachandpur', 'West Champaran', 'Bharuch', 'Jhargram',
       'Khargone', 'Chhotaudepur', 'Mumbai Suburban', 'Hailakandi',
       'Panchmahals', 'South Salmara Mankachar', 'Budaun', 'Kanpur Dehat',
       'Porbandar', 'West Garo Hills', 'Kapurthala', 'South Garo Hills',
       'Nagaur', 'Mysuru', 'Mahesana', 'Churu', 'Hyderabad',
       'Kancheepuram', 'Varanasi', 'Lohardaga', 'North Garo Hills',
       'Chhatarpur', 'Nadia', 'Purnia', 'Gurgaon', 'Charaideo', 'Jaipur',
       'Saran', 'Morena', 'Dhar', 'Dahod', 'Devbhumi Dwarka',
       'East Champaran', 'Tapi', 'Baghpat', 'Fatehpur',
       'South West Khasi Hills', 'Yadgir', 'Nandurbar', 'Etawah',
       'Jalpaiguri', 'Jabalpur', 'Shamli', 'Sibsagar', 'Barwani', 'Botad',
       'Junagadh', 'Balrampur', 'Bara Banki', 'Shivpuri', 'Beed',
       'Shahjahanpur', 'Jamnagar', 'Chandrapur', 'Durg',
       'K.v. Rangareddy', 'Sirohi', 'Alipurduar', 'South West Delhi',
       'Gonda', 'East Jaintia Hills', 'Bareilly', 'Bundi', 'Solapur',
       'Sitapur', 'Dumka', 'Sultanpur', 'Karbi Anglong', 'Bikaner',
       'Phek', 'Raisen', 'Shrawasti', 'East Delhi', 'Jhabua', 'Unakoti',
       'Indore', 'Bhopal', 'Dungarpur', 'Chandauli', 'Bharatpur',
       'Mainpuri', 'Godda', 'Muzaffarnagar', 'Siddharthnagar', 'Datia',
       'West Tripura', 'Medchal-malkajgiri', 'Sagar', 'Sheopur',
       'Arvalli', 'Surendra Nagar', 'Malda', 'Amreli', 'Alwar',
       'Ambedkar Nagar', 'Madurai', 'Pilibhit', 'Champhai', 'Valsad',
       'Pakur', 'Vaishali', 'Vidisha', 'Karimganj', 'Biswanath',
       'Burhanpur', 'Kaushambi', 'Pune', 'Punch', 'Jehanabad', 'Jalaun',
       'Etah', 'Meerut', 'Baran', 'Sangrur', 'Karauli', 'Anand',
       'Longleng', 'Chandigarh', 'Jamui', 'South Sikkim', 'Panna',
       'East Garo Hills', 'Jhalawar', 'Shahdara', 'Kalaburagi',
       'Thanjavur', 'Peren', 'Tuensang', 'Mahisagar', 'Hoshiarpur',
       'Noklak', 'Sukma', 'Khandwa', 'Ajmer', 'West Sikkim', 'Latur',
       'Basti', 'Satna', 'Gurdaspur', 'Hazaribagh', 'Azamgarh', 'Udaipur',
       'Kolkata', 'Rampur', 'The Dangs', 'East Singhbhum', 'Alirajpur',
       'SAS Nagar (Mohali)', 'South West Garo Hills', 'Moradabad', 'Kota',
       'Dewas', 'Navsari', 'Chumukedima', 'Ahmedabad', 'Nabarangapur',
       'Pali', 'Amroha', 'Saiha', 'Dakshin Dinajpur', 'Bijnor',
       'Pudukkottai', 'Bangalore Rural', 'Kalimpong', 'Deoria',
       'Baramula', 'Gopalganj', 'Prayagraj', 'Lalitpur', 'Mewat', 'Hapur',
       'Jammu', 'Bishnupur', 'Saharsa', 'Arwal', 'Hathras', 'Lawngtlai',
       'Nashik', 'Yavatmal', 'Cuddalore', 'Kollam', 'Patiala', 'Katihar',
       'Malappuram', 'Birbhum', 'Siwan', 'Dhule', 'Baloda Bazar',
       'Washim', 'Coimbatore', 'Lunglei', 'Imphal West', 'Kushinagar',
       'Thiruvananthapuram', 'Sangli', 'Ahmadabad', 'Lakhisarai',
       'Bengaluru Rural', '24 Paraganas North', 'Dima Hasao', 'Banka',
       'Salem', 'Dadra And Nagar Haveli', 'Dang', 'Kaithal', 'Vellore',
       'Shravasti', 'Nalanda', 'Jaisalmer', 'Kallakurichi', 'Farrukhabad',
       'Medinipur West', 'Araria', 'Sonipat', 'Chatra',
       'Gaurella Pendra Marwahi', 'Visakhapatanam', 'Buldhana',
       'Amravati', 'Hardoi', 'Dhalai', 'Ernakulam', 'New Delhi',
       'Bhilwara', 'Ramanathapuram', 'Mon', 'Raichur', 'North Delhi',
       'Rohtak', 'Gumla', 'Barmer', 'Kurukshetra', 'Nuh', 'Ashoknagar',
       'Thrissur', 'S.A.S Nagar', 'North East Delhi', 'Purba Bardhaman',
       'Ambala', 'Panipat', 'Darbhanga', 'Ayodhya', 'Khunti',
       'Medchal Malkajgiri', 'Sivasagar', 'Hisar', 'Sivaganga',
       'Siddharth Nagar', 'Kullu', 'Khordha', 'Barabanki', 'Chengalpattu',
       'Ahmednagar', 'Jalore', 'Nawada', 'Hooghly', '24 Paraganas South',
       'Chennai', 'Surendranagar', 'Mumbai', 'Nabarangpur',
       'Sabar Kantha', 'Ramanagara', 'Wokha', 'West Singhbhum',
       'Sepahijala', 'Samastipur', 'Zunheboto', 'East Singhbum',
       'Sambhal', 'Chittorgarh', 'Panch Mahals', 'Bidar', 'Tonk',
       'Jhansi', 'Howrah', 'Raigarh', 'Giridih', 'Akola', 'North Goa',
       'Vijayapura', 'Begusarai', 'Ranga Reddy', 'Thiruvallur',
       'Bhadradri Kothagudem', 'Hanumangarh', 'Kannur', 'Tarn Taran',
       'Majuli', 'Balaghat', 'Kiphire', 'Dinajpur Dakshin', 'East Nimar',
       'Osmanabad', 'Dhanbad', 'Kasganj', 'Shopian', 'Sehore', 'Kannauj',
       'Narsinghpur', 'Bilaspur', 'Kolasib', 'Sawai Madhopur',
       'North Tripura', 'Kushi Nagar', 'Prakasam', 'Bhojpur',
       'Hoshangabad', 'Doda', 'Mokokchung', 'Gomati', 'Krishna',
       'Kurnool', 'Mahabub Nagar', 'Mahbubnagar', 'Medak', 'N. T. R',
       'Nalgonda', 'Nandyal', 'Nellore', 'Palnadu', 'Rangareddi',
       'Sri Potti Sriramulu Nellore', 'Sri Sathya Sai', 'Srikakulam',
       'Tirupati', 'Visakhapatnam', 'Vizianagaram', 'Warangal',
       'West Godavari', 'Y. S. R', 'Bajali', 'Sribhumi', 'Buxar',
       'Khagaria', 'Kishanganj', 'Madhepura', 'Rohtas', 'Sheohar',
       'Supaul', 'Bastar', 'Bemetara', 'Gariyaband', 'Jashpur',
       'Kawardha', 'Kondagaon', 'Korba',
       'ManendragarhChirmiriBharatpur', 'Rajnandgaon', 'Sakti',
       'Sarangarh-Bilaigarh', 'Surajpur', 'Surguja',
       'Dadra and Nagar Haveli', 'South Goa', 'Narmada', 'Bhiwani',
       'Charkhi Dadri', 'Fatehabad', 'Jhajjar', 'Jind', 'Karnal',
       'Mahendragarh', 'Rewari', 'Sirsa', 'Yamuna Nagar', 'Hamirpur',
       'Kangra', 'Mandi', 'Sirmaur', 'Solan', 'Una', 'Anantnag', 'Badgam',
       'Bandipore', 'Budgam', 'Kargil', 'Kathua', 'Kupwara', 'Leh',
       'Pulwama', 'Rajouri', 'Ramban', 'Reasi', 'Samba', 'Srinagar',
       'Udhampur', 'Bokaro', 'Garhwa', 'Garhwa *', 'Hazaribag', 'Jamtara',
       'Latehar', 'Palamau', 'Palamu', 'Purbi Singhbhum', 'Ramgarh',
       'Sahebganj', 'Seraikela-Kharsawan', 'Seraikela-kharsawan',
       'Simdega', 'Bagalkot', 'Bagalkot *', 'Ballari', 'Bangalore',
       'Belagavi', 'Belgaum', 'Bellary', 'Chamarajanagar',
       'Chamrajanagar', 'Chamrajnagar', 'Chickmagalur', 'Chikkaballapur',
       'Chikkamagaluru', 'Chikmagalur', 'Chitradurga', 'Dakshina Kannada',
       'Davanagere', 'Davangere', 'Dharwad', 'Gadag', 'Gadag *',
       'Gulbarga', 'Hassan', 'Haveri', 'Kodagu', 'Kolar', 'Koppal',
       'Mandya', 'Mysore', 'Ramanagar', 'Shimoga', 'Shivamogga',
       'Tumakuru', 'Tumkur', 'Udupi', 'Uttara Kannada', 'Vijayanagara',
       'Alappuzha', 'Idukki', 'Kasaragod', 'Kasargod', 'Kottayam',
       'Kozhikode', 'Palakkad', 'Pathanamthitta', 'Wayanad', 'Agar Malwa',
       'Anuppur', 'Chhindwara', 'Damoh', 'Dindori', 'Harda', 'Maihar',
       'Mandla', 'Mandsaur', 'Narmadapuram', 'Narsimhapur', 'Neemuch',
       'Niwari', 'Rajgarh', 'Ratlam', 'Rewa', 'Seoni', 'Shahdol',
       'Shajapur', 'Sidhi', 'Singrauli', 'Tikamgarh', 'Ujjain',
       'West Nimar', 'Ahmed Nagar', 'Bhandara', 'Buldana',
       'Chhatrapati Sambhajinagar', 'Gadchiroli', 'Gondiya', 'Jalna',
       'Kolhapur', 'Mumbai City', 'Ratnagiri', 'Sindhudurg', 'Wardha',
       'Senapati', 'Tamenglong', 'Aizawl', 'Angul', 'Nicobar',
       'South Andaman', 'Adilabad', 'Alluri Sitharama Raju', 'Anakapalli',
       'Anantapur', 'Ananthapur', 'Ananthapuramu', 'Bapatla', 'Chittoor',
       'Cuddapah', 'Dr. B. R. Ambedkar Konaseema', 'East Godavari',
       'Eluru', 'Guntur', 'Kakinada', 'Karimnagar', 'Khammam', 'Anugul',
       'Balangir', 'Baleswar', 'Bargarh', 'Baudh', 'Bhadrak', 'Boudh',
       'Cuttack', 'Debagarh', 'Dhenkanal', 'Gajapati', 'Ganjam', 'JAJPUR',
       'Jagatsinghapur', 'Jagatsinghpur', 'Jajapur', 'Kalahandi',
       'Kandhamal', 'Kendrapara', 'Kendujhar', 'Khorda', 'Koraput',
       'Malkangiri', 'Mayurbhanj', 'Nayagarh', 'Nuapada', 'Puri',
       'Rayagada', 'Sambalpur', 'Sonapur', 'Subarnapur', 'Sundargarh',
       'Sundergarh', 'Baleshwar', 'Pondicherry', 'Karaikal', 'Puducherry',
       'Yanam', 'Barnala', 'Bathinda', 'Faridkot', 'Fatehgarh Sahib',
       'Ferozepur', 'Firozpur', 'Jalandhar', 'Malerkotla', 'Mansa',
       'Muktsar', 'Pathankot', 'Rupnagar', 'Shaheed Bhagat Singh Nagar',
       'Sri Muktsar Sahib', 'Banswara', 'Chittaurgarh', 'Dausa',
       'Ganganagar', 'Jhunjhunun', 'Pratapgarh', 'Rajsamand', 'East',
       'North Sikkim', 'South', 'Ariyalur', 'Dharmapuri', 'Dindigul',
       'Erode', 'Kanniyakumari', 'Kanyakumari', 'Karur', 'Krishnagiri',
       'Mayiladuthurai', 'Nagapattinam', 'Namakkal', 'Perambalur',
       'Ranipet', 'Tenkasi', 'The Nilgiris', 'Theni', 'Thiruvarur',
       'Thoothukkudi', 'Tiruchirappalli', 'Tirunelveli', 'Tirupattur',
       'Tiruppur', 'Tiruvallur', 'Tiruvannamalai', 'Villupuram',
       'Viluppuram', 'Virudhunagar', 'Hanumakonda', 'Jagitial', 'Jangoan',
       'Jayashankar Bhupalpally', 'Jogulamba Gadwal', 'Kamareddy',
       'Komaram Bheem', 'Mahabubabad', 'Mahabubnagar', 'Mancherial',
       'Medchalmalkajgiri', 'Mulugu', 'Nagarkurnool', 'Narayanpet',
       'Nirmal', 'Nizamabad', 'Peddapalli', 'Rajanna Sircilla',
       'Sangareddy', 'Siddipet', 'Suryapet', 'Vikarabad', 'Wanaparthy',
       'Warangal Rural', 'Warangal Urban', 'Yadadri.', 'Khowai',
       'South Tripura', 'Allahabad', 'Amethi', 'Auraiya', 'Ballia',
       'Bhadohi', 'Chitrakoot', 'Faizabad', 'Ghazipur', 'Mahoba', 'Mau',
       'Mirzapur', 'Rae Bareli', 'Sant Kabir Nagar', 'Sant Ravidas Nagar',
       'Sonbhadra', 'Almora', 'Bageshwar', 'Chamoli', 'Garhwal',
       'Pauri Garhwal', 'Pithoragarh', 'Rudraprayag', 'Tehri Garhwal',
       'Udham Singh Nagar', 'Uttarkashi', 'Bankura', 'Barddhaman',
       'Bardhaman', 'Darjiling', 'East Midnapore', 'Haora', 'Koch Bihar',
       'Maldah', 'Murshidabad', 'North Twenty Four Parganas',
       'Paschim Bardhaman', 'Paschim Medinipur', 'Purba Medinipur',
       'Purulia', 'Puruliya', 'South 24 Parganas', 'South Dinajpur',
       'South Twenty Four Parganas', 'West Midnapore', 'North East',
       'Parvathipuram Manyam', 'Aurangabad(bh)', 'Purba Champaran',
       'Purnea', 'Sheikhpura', 'Balod', 'Dhamtari',
       'Gaurela-pendra-marwahi', 'Janjgir-champa', 'Kabeerdham', 'Kanker',
       'Khairagarh Chhuikhadan Gandai', 'Koriya', 'Mahasamund',
       'Mohla-Manpur-Ambagarh Chouki', 'Mungeli', 'Narayanpur', 'Palwal',
       'Chamba', 'Shimla', 'Ganderbal', 'Kodarma', 'Pakaur', 'Sahibganj',
       'Hasan', 'yadgir', 'Lakshadweep', 'Harda *', 'Mauganj', 'Umaria',
       'Chatrapati Sambhaji Nagar', 'Mumbai( Sub Urban )', 'Nandurbar *',
       'Imphal East', 'Thoubal', 'Ukhrul', 'Eastern West Khasi Hills',
       'Mamit', 'Serchhip', 'Andamans', 'North And Middle Andaman',
       'Annamayya', 'K.V.Rangareddy', 'Karim Nagar', 'Rangareddy',
       'Bulandshahar', 'Hugli', 'North Dinajpur', 'Jharsuguda', 'Fazilka',
       'Moga', 'North', 'Chandel', 'Kakching', 'S.A.S Nagar(Mohali)',
       'Jhunjhunu', 'East Sikkim', 'West', 'Sheikpura',
       'Dakshin Bastar Dantewada', 'Dadra & Nagar Haveli', 'Daman',
       'Panchkula', 'Kishtwar', 'Shupiyan', 'Pashchimi Singhbhum',
       'Pandhurna', 'Bid', 'Gondiya *', 'Jyotiba Phule Nagar',
       'Sant Ravidas Nagar Bhadohi', 'HOOGHLY', 'Meluri', 'Dhaulpur',
       'Tamulpur District', 'Dantewada', 'Koderma', 'Chamarajanagar *',
       'Dharashiv', 'Gondia', 'Dhalai  *', 'Kulgam', 'Jiribam', 'Saitual',
       'NUAPADA', 'Bhabua', 'Champawat', 'Haveri *', 'Mammit', 'Shamator',
       'Nawanshahr', 'Jangaon', 'NADIA', 'Monghyr', 'Uttar Bastar Kanker',
       'South East Delhi', 'Samstipur', 'Diu', 'Najafgarh', 'Kinnaur',
       'Tuticorin', 'Warangal (urban)', 'Namchi', 'HOWRAH', 'Hardwar',
       'Niuland', 'Khawzawl', 'Janjgir - Champa', 'Lahul and Spiti',
       'Janjgir Champa', 'Washim *', 'Nicobars', 'Yamunanagar',
       'Lahul & Spiti', 'Jhajjar *', 'ANUGUL', 'Raebareli', 'Hawrah',
       'jajpur', 'Aurangabad(BH)', 'Bengaluru South', 'Raigarh(MH)',
       'MALDA', 'Tirupathur', 'hooghly', 'rangareddi', 'Deeg\xa0',
       'Medchal?malkajgiri', 'Medinipur',
       'Mohalla-Manpur-Ambagarh Chowki', 'Tseminyu', 'Jajpur',
       'Mahrajganj', 'Hnahthial', 'chittoor', 'Kushinagar *', 'Tiruvarur',
       'East Midnapur', 'nadia', 'Hingoli *', 'North East   *', 'Bardez',
       'Namakkal   *', 'Hooghiy', 'Pherzawl', 'Jaintia Hills', 'KOLKATA',
       'West Medinipur', 'Lahaul and Spiti', 'Burdwan', 'Bandipur',
       'Mangan', 'South 24 parganas', 'Leh (ladakh)', 'Bokaro *',
       'South 24 Pargana', 'Deeg', 'Anugal', 'Udupi *', 'Kendrapara *',
       'Rajauri', 'Bijapur(KAR)', 'Bagpat', 'punch', 'ANGUL', 'Balotra',
       'Ahilyanagar', 'Didwana-Kuchaman', 'Salumbar', 'Beawar'],
      dtype=object)

In [136]:
df_merged['district'].nunique()

959

In [137]:
def clean_district(x):
    if pd.isna(x):
        return np.nan
    
    x = str(x).strip()
    x = x.lower()

    # remove special characters like *, (, ), etc
    x = re.sub(r'[^a-z\s]', ' ', x)

    # remove extra spaces
    x = re.sub(r'\s+', ' ', x).strip()

    # Title case for nice format
    x = x.title()
    return x

df_merged["district_clean"] = df_merged["district"].apply(clean_district)

print(" District cleaning done!")
print("Before unique districts:", df_merged["district"].nunique())
print("After unique districts :", df_merged["district_clean"].nunique())

df_merged[["district", "district_clean"]].head(10)

 District cleaning done!
Before unique districts: 959
After unique districts : 913

           district    district_clean
0  East Khasi Hills  East Khasi Hills
1   Bengaluru Urban   Bengaluru Urban
2      Kanpur Nagar      Kanpur Nagar
3           Aligarh           Aligarh
4   Bengaluru Urban   Bengaluru Urban
5         Sitamarhi         Sitamarhi
6         Sitamarhi         Sitamarhi
7          Bahraich          Bahraich
8         Firozabad         Firozabad
9   Purbi Champaran   Purbi Champaran

### Remove useless / invalid districts

In [138]:
df_merged = df_merged.dropna(subset=["district_clean"])
df_merged = df_merged[df_merged["district_clean"] != ""]

print(" Invalid districts removed!")
print("Unique districts now:", df_merged["district_clean"].nunique())

 Invalid districts removed!
Unique districts now: 913

### Fix famous duplicates

In [139]:
district_map = {
    "Bangalore Urban": "Bengaluru Urban",
    "Gurgaon": "Gurugram",
    "Calcutta": "Kolkata"
}

df_merged["district_clean"] = df_merged["district_clean"].replace(district_map)

print(" Duplicate district spellings fixed!")
print("Unique districts now:", df_merged["district_clean"].nunique())

 Duplicate district spellings fixed!
Unique districts now: 912

### Replace district column with cleaned district

In [140]:
df_merged["district"] = df_merged["district_clean"]
df_merged = df_merged.drop(columns=["district_clean"])

print(" District column replaced with cleaned version.")

 District column replaced with cleaned version.

In [141]:
df_merged['district'].nunique()

912

In [142]:
state_district_dict = {}

for state in sorted(df_merged["state"].dropna().unique()):
    districts = sorted(
        df_merged[df_merged["state"] == state]["district"]
        .dropna()
        .unique()
        .tolist()
    )
    state_district_dict[state] = districts

state_district_dict

{'Andaman & Nicobar Islands': ['Andamans',
  'Nicobar',
  'Nicobars',
  'North And Middle Andaman',
  'South Andaman'],
 'Andhra Pradesh': ['Adilabad',
  'Alluri Sitharama Raju',
  'Anakapalli',
  'Anantapur',
  'Ananthapur',
  'Ananthapuramu',
  'Annamayya',
  'Bapatla',
  'Chittoor',
  'Cuddapah',
  'Dr B R Ambedkar Konaseema',
  'East Godavari',
  'Eluru',
  'Guntur',
  'Hyderabad',
  'K V Rangareddy',
  'Kakinada',
  'Karim Nagar',
  'Karimnagar',
  'Khammam',
  'Krishna',
  'Kurnool',
  'Mahabub Nagar',
  'Mahabubnagar',
  'Mahbubnagar',
  'Medak',
  'N T R',
  'Nalgonda',
  'Nandyal',
  'Nellore',
  'Nizamabad',
  'Palnadu',
  'Parvathipuram Manyam',
  'Prakasam',
  'Rangareddi',
  'Spsr Nellore',
  'Sri Potti Sriramulu Nellore',
  'Sri Sathya Sai',
  'Srikakulam',
  'Tirupati',
  'Visakhapatanam',
  'Visakhapatnam',
  'Vizianagaram',
  'Warangal',
  'West Godavari',
  'Y S R'],
 'Assam': ['Bajali',
  'Baksa',
  'Barpeta',
  'Biswanath',
  'Bongaigaon',
  'Cachar',
  'Charaideo',
  'Chirang',
  'Darrang',
  'Dhemaji',
  'Dhubri',
  'Dibrugarh',
  'Dima Hasao',
  'Goalpara',
  'Golaghat',
  'Hailakandi',
  'Hojai',
  'Jorhat',
  'Kamrup',
  'Kamrup Metro',
  'Karbi Anglong',
  'Karimganj',
  'Kokrajhar',
  'Lakhimpur',
  'Majuli',
  'Marigaon',
  'Nagaon',
  'Nalbari',
  'North Cachar Hills',
  'Sibsagar',
  'Sivasagar',
  'Sonitpur',
  'South Salmara Mankachar',
  'Sribhumi',
  'Tamulpur District',
  'Tinsukia',
  'Udalguri',
  'West Karbi Anglong'],
 'Bihar': ['Araria',
  'Arwal',
  'Aurangabad',
  'Aurangabad Bh',
  'Banka',
  'Begusarai',
  'Bhabua',
  'Bhagalpur',
  'Bhojpur',
  'Buxar',
  'Darbhanga',
  'East Champaran',
  'Gaya',
  'Gopalganj',
  'Jamui',
  'Jehanabad',
  'Kaimur Bhabua',
  'Katihar',
  'Khagaria',
  'Kishanganj',
  'Lakhisarai',
  'Madhepura',
  'Madhubani',
  'Monghyr',
  'Munger',
  'Muzaffarpur',
  'Nalanda',
  'Nawada',
  'Pashchim Champaran',
  'Patna',
  'Purba Champaran',
  'Purbi Champaran',
  'Purnea',
  'Purnia',
  'Rohtas',
  'Saharsa',
  'Samastipur',
  'Samstipur',
  'Saran',
  'Sheikhpura',
  'Sheikpura',
  'Sheohar',
  'Sitamarhi',
  'Siwan',
  'Supaul',
  'Vaishali',
  'West Champaran'],
 'Chandigarh': ['Chandigarh', 'Rupnagar'],
 'Chhattisgarh': ['Balod',
  'Baloda Bazar',
  'Balrampur',
  'Bastar',
  'Bemetara',
  'Bijapur',
  'Bilaspur',
  'Dakshin Bastar Dantewada',
  'Dantewada',
  'Dhamtari',
  'Durg',
  'Gariyaband',
  'Gaurela Pendra Marwahi',
  'Gaurella Pendra Marwahi',
  'Janjgir Champa',
  'Jashpur',
  'Kabeerdham',
  'Kanker',
  'Kawardha',
  'Khairagarh Chhuikhadan Gandai',
  'Kondagaon',
  'Korba',
  'Koriya',
  'Mahasamund',
  'Manendragarh Chirmiri Bharatpur',
  'Mohalla Manpur Ambagarh Chowki',
  'Mohla Manpur Ambagarh Chouki',
  'Mungeli',
  'Narayanpur',
  'Raigarh',
  'Raipur',
  'Rajnandgaon',
  'Sakti',
  'Sarangarh Bilaigarh',
  'Sukma',
  'Surajpur',
  'Surguja',
  'Uttar Bastar Kanker'],
 'Dadra And Nagar Haveli And Daman And Diu': ['Dadra And Nagar Haveli',
  'Dadra Nagar Haveli',
  'Daman',
  'Diu'],
 'Delhi': ['Central Delhi',
  'East Delhi',
  'Najafgarh',
  'New Delhi',
  'North Delhi',
  'North East',
  'North East Delhi',
  'North West Delhi',
  'Shahdara',
  'South Delhi',
  'South East Delhi',
  'South West Delhi',
  'West Delhi'],
 'Goa': ['Bardez', 'North Goa', 'South Goa'],
 'Gujarat': ['Ahmadabad',
  'Ahmedabad',
  'Amreli',
  'Anand',
  'Arvalli',
  'Banas Kantha',
  'Banaskantha',
  'Bharuch',
  'Bhavnagar',
  'Botad',
  'Chhotaudepur',
  'Dahod',
  'Dang',
  'Devbhumi Dwarka',
  'Dohad',
  'Gandhinagar',
  'Gir Somnath',
  'Jamnagar',
  'Junagadh',
  'Kachchh',
  'Kheda',
  'Mahesana',
  'Mahisagar',
  'Morbi',
  'Narmada',
  'Navsari',
  'Panch Mahals',
  'Panchmahals',
  'Patan',
  'Porbandar',
  'Rajkot',
  'Sabar Kantha',
  'Sabarkantha',
  'Surat',
  'Surendra Nagar',
  'Surendranagar',
  'Tapi',
  'The Dangs',
  'Vadodara',
  'Valsad'],
 'Haryana': ['Ambala',
  'Bhiwani',
  'Charkhi Dadri',
  'Faridabad',
  'Fatehabad',
  'Gurugram',
  'Hisar',
  'Jhajjar',
  'Jind',
  'Kaithal',
  'Karnal',
  'Kurukshetra',
  'Mahendragarh',
  'Mewat',
  'Nuh',
  'Palwal',
  'Panchkula',
  'Panipat',
  'Rewari',
  'Rohtak',
  'Sirsa',
  'Sonipat',
  'Yamuna Nagar',
  'Yamunanagar'],
 'Himachal Pradesh': ['Bilaspur',
  'Chamba',
  'Hamirpur',
  'Kangra',
  'Kinnaur',
  'Kullu',
  'Lahaul And Spiti',
  'Lahul And Spiti',
  'Lahul Spiti',
  'Mandi',
  'Shimla',
  'Sirmaur',
  'Solan',
  'Una'],
 'Jammu & Kashmir': ['Anantnag',
  'Badgam',
  'Bandipore',
  'Bandipur',
  'Baramula',
  'Budgam',
  'Doda',
  'Ganderbal',
  'Jammu',
  'Kargil',
  'Kathua',
  'Kishtwar',
  'Kulgam',
  'Kupwara',
  'Leh',
  'Leh Ladakh',
  'Pulwama',
  'Punch',
  'Rajauri',
  'Rajouri',
  'Ramban',
  'Reasi',
  'Samba',
  'Shopian',
  'Shupiyan',
  'Srinagar',
  'Udhampur'],
 'Jharkhand': ['Bokaro',
  'Chatra',
  'Deoghar',
  'Dhanbad',
  'Dumka',
  'East Singhbhum',
  'East Singhbum',
  'Garhwa',
  'Giridih',
  'Godda',
  'Gumla',
  'Hazaribag',
  'Hazaribagh',
  'Jamtara',
  'Khunti',
  'Kodarma',
  'Koderma',
  'Latehar',
  'Lohardaga',
  'Pakaur',
  'Pakur',
  'Palamau',
  'Palamu',
  'Pashchimi Singhbhum',
  'Purbi Singhbhum',
  'Ramgarh',
  'Ranchi',
  'Sahebganj',
  'Sahibganj',
  'Seraikela Kharsawan',
  'Simdega',
  'West Singhbhum'],
 'Karnataka': ['Bagalkot',
  'Ballari',
  'Bangalore',
  'Bangalore Rural',
  'Belagavi',
  'Belgaum',
  'Bellary',
  'Bengaluru',
  'Bengaluru Rural',
  'Bengaluru South',
  'Bengaluru Urban',
  'Bidar',
  'Bijapur',
  'Bijapur Kar',
  'Chamarajanagar',
  'Chamrajanagar',
  'Chamrajnagar',
  'Chickmagalur',
  'Chikkaballapur',
  'Chikkamagaluru',
  'Chikmagalur',
  'Chitradurga',
  'Dakshina Kannada',
  'Davanagere',
  'Davangere',
  'Dharwad',
  'Gadag',
  'Gulbarga',
  'Hasan',
  'Hassan',
  'Haveri',
  'Kalaburagi',
  'Kodagu',
  'Kolar',
  'Koppal',
  'Mandya',
  'Mysore',
  'Mysuru',
  'Raichur',
  'Ramanagar',
  'Ramanagara',
  'Shimoga',
  'Shivamogga',
  'Tumakuru',
  'Tumkur',
  'Udupi',
  'Uttara Kannada',
  'Vijayanagara',
  'Vijayapura',
  'Yadgir'],
 'Kerala': ['Alappuzha',
  'Ernakulam',
  'Idukki',
  'Kannur',
  'Kasaragod',
  'Kasargod',
  'Kollam',
  'Kottayam',
  'Kozhikode',
  'Malappuram',
  'Palakkad',
  'Pathanamthitta',
  'Thiruvananthapuram',
  'Thrissur',
  'Wayanad'],
 'Ladakh': ['Kargil', 'Leh'],
 'Lakshadweep': ['Lakshadweep'],
 'Madhya Pradesh': ['Agar Malwa',
  'Alirajpur',
  'Anuppur',
  'Ashok Nagar',
  'Ashoknagar',
  'Balaghat',
  'Barwani',
  'Betul',
  'Bhind',
  'Bhopal',
  'Burhanpur',
  'Chhatarpur',
  'Chhindwara',
  'Damoh',
  'Datia',
  'Dewas',
  'Dhar',
  'Dindori',
  'East Nimar',
  'Guna',
  'Gwalior',
  'Harda',
  'Hoshangabad',
  'Indore',
  'Jabalpur',
  'Jhabua',
  'Katni',
  'Khandwa',
  'Khargone',
  'Maihar',
  'Mandla',
  'Mandsaur',
  'Mauganj',
  'Morena',
  'Narmadapuram',
  'Narsimhapur',
  'Narsinghpur',
  'Neemuch',
  'Niwari',
  'Pandhurna',
  'Panna',
  'Raisen',
  'Rajgarh',
  'Ratlam',
  'Rewa',
  'Sagar',
  'Satna',
  'Sehore',
  'Seoni',
  'Shahdol',
  'Shajapur',
  'Sheopur',
  'Shivpuri',
  'Sidhi',
  'Singrauli',
  'Tikamgarh',
  'Ujjain',
  'Umaria',
  'Vidisha',
  'West Nimar'],
 'Maharashtra': ['Ahilyanagar',
  'Ahmadnagar',
  'Ahmed Nagar',
  'Ahmednagar',
  'Akola',
  'Amravati',
  'Aurangabad',
  'Beed',
  'Bhandara',
  'Bid',
  'Buldana',
  'Buldhana',
  'Chandrapur',
  'Chatrapati Sambhaji Nagar',
  'Chhatrapati Sambhajinagar',
  'Dharashiv',
  'Dhule',
  'Gadchiroli',
  'Gondia',
  'Gondiya',
  'Hingoli',
  'Jalgaon',
  'Jalna',
  'Kolhapur',
  'Latur',
  'Mumbai',
  'Mumbai City',
  'Mumbai Sub Urban',
  'Mumbai Suburban',
  'Nagpur',
  'Nanded',
  'Nandurbar',
  'Nashik',
  'Osmanabad',
  'Palghar',
  'Parbhani',
  'Pune',
  'Raigad',
  'Raigarh',
  'Raigarh Mh',
  'Ratnagiri',
  'Sangli',
  'Satara',
  'Sindhudurg',
  'Solapur',
  'Thane',
  'Wardha',
  'Washim',
  'Yavatmal'],
 'Manipur': ['Bishnupur',
  'Chandel',
  'Churachandpur',
  'Imphal East',
  'Imphal West',
  'Jiribam',
  'Kakching',
  'Pherzawl',
  'Senapati',
  'Tamenglong',
  'Thoubal',
  'Ukhrul'],
 'Meghalaya': ['East Garo Hills',
  'East Jaintia Hills',
  'East Khasi Hills',
  'Eastern West Khasi Hills',
  'Jaintia Hills',
  'Kamrup',
  'North Garo Hills',
  'Ri Bhoi',
  'South Garo Hills',
  'South West Garo Hills',
  'South West Khasi Hills',
  'West Garo Hills',
  'West Jaintia Hills',
  'West Khasi Hills'],
 'Mizoram': ['Aizawl',
  'Champhai',
  'Hnahthial',
  'Khawzawl',
  'Kolasib',
  'Lawngtlai',
  'Lunglei',
  'Mamit',
  'Mammit',
  'Saiha',
  'Saitual',
  'Serchhip'],
 'Nagaland': ['Chumukedima',
  'Dimapur',
  'Kiphire',
  'Kohima',
  'Longleng',
  'Meluri',
  'Mokokchung',
  'Mon',
  'Niuland',
  'Noklak',
  'Peren',
  'Phek',
  'Shamator',
  'Tseminyu',
  'Tuensang',
  'Wokha',
  'Zunheboto'],
 'Odisha': ['Angul',
  'Anugal',
  'Anugul',
  'Balangir',
  'Baleshwar',
  'Baleswar',
  'Bargarh',
  'Baudh',
  'Bhadrak',
  'Boudh',
  'Cuttack',
  'Debagarh',
  'Dhenkanal',
  'Gajapati',
  'Ganjam',
  'Jagatsinghapur',
  'Jagatsinghpur',
  'Jajapur',
  'Jajpur',
  'Jharsuguda',
  'Kalahandi',
  'Kandhamal',
  'Kendrapara',
  'Kendujhar',
  'Khorda',
  'Khordha',
  'Koraput',
  'Malkangiri',
  'Mayurbhanj',
  'Nabarangapur',
  'Nabarangpur',
  'Nayagarh',
  'Nuapada',
  'Puri',
  'Rayagada',
  'Sambalpur',
  'Sonapur',
  'Subarnapur',
  'Sundargarh',
  'Sundergarh'],
 'Puducherry': ['Karaikal', 'Pondicherry', 'Puducherry', 'Yanam'],
 'Punjab': ['Amritsar',
  'Barnala',
  'Bathinda',
  'Faridkot',
  'Fatehgarh Sahib',
  'Fazilka',
  'Ferozepur',
  'Firozpur',
  'Gurdaspur',
  'Hoshiarpur',
  'Jalandhar',
  'Kapurthala',
  'Ludhiana',
  'Malerkotla',
  'Mansa',
  'Moga',
  'Muktsar',
  'Nawanshahr',
  'Pathankot',
  'Patiala',
  'Rupnagar',
  'S A S Nagar',
  'S A S Nagar Mohali',
  'Sangrur',
  'Sas Nagar Mohali',
  'Shaheed Bhagat Singh Nagar',
  'Sri Muktsar Sahib',
  'Tarn Taran'],
 'Rajasthan': ['Ajmer',
  'Alwar',
  'Balotra',
  'Banswara',
  'Baran',
  'Barmer',
  'Beawar',
  'Bharatpur',
  'Bhilwara',
  'Bikaner',
  'Bundi',
  'Chittaurgarh',
  'Chittorgarh',
  'Churu',
  'Dausa',
  'Deeg',
  'Dhaulpur',
  'Dholpur',
  'Didwana Kuchaman',
  'Dungarpur',
  'Ganganagar',
  'Hanumangarh',
  'Jaipur',
  'Jaisalmer',
  'Jalor',
  'Jalore',
  'Jhalawar',
  'Jhunjhunu',
  'Jhunjhunun',
  'Jodhpur',
  'Karauli',
  'Kota',
  'Nagaur',
  'Pali',
  'Pratapgarh',
  'Rajsamand',
  'Salumbar',
  'Sawai Madhopur',
  'Sikar',
  'Sirohi',
  'Tonk',
  'Udaipur'],
 'Sikkim': ['East',
  'East Sikkim',
  'Mangan',
  'Namchi',
  'North',
  'North Sikkim',
  'South',
  'South Sikkim',
  'West',
  'West Sikkim'],
 'Tamil Nadu': ['Ariyalur',
  'Chengalpattu',
  'Chennai',
  'Coimbatore',
  'Cuddalore',
  'Dharmapuri',
  'Dindigul',
  'Erode',
  'Kallakurichi',
  'Kancheepuram',
  'Kanchipuram',
  'Kanniyakumari',
  'Kanyakumari',
  'Karur',
  'Krishnagiri',
  'Madurai',
  'Mayiladuthurai',
  'Nagapattinam',
  'Namakkal',
  'Perambalur',
  'Pudukkottai',
  'Ramanathapuram',
  'Ranipet',
  'Salem',
  'Sivaganga',
  'Tenkasi',
  'Thanjavur',
  'The Nilgiris',
  'Theni',
  'Thiruvallur',
  'Thiruvarur',
  'Thoothukkudi',
  'Tiruchirappalli',
  'Tirunelveli',
  'Tirupathur',
  'Tirupattur',
  'Tiruppur',
  'Tiruvallur',
  'Tiruvannamalai',
  'Tiruvarur',
  'Tuticorin',
  'Vellore',
  'Villupuram',
  'Viluppuram',
  'Virudhunagar'],
 'Telangana': ['Adilabad',
  'Bhadradri Kothagudem',
  'Hanumakonda',
  'Hyderabad',
  'Jagitial',
  'Jangaon',
  'Jangoan',
  'Jayashankar Bhupalpally',
  'Jogulamba Gadwal',
  'K V Rangareddy',
  'Kamareddy',
  'Karimnagar',
  'Khammam',
  'Komaram Bheem',
  'Mahabubabad',
  'Mahabubnagar',
  'Mancherial',
  'Medak',
  'Medchal Malkajgiri',
  'Mulugu',
  'Nagarkurnool',
  'Nalgonda',
  'Narayanpet',
  'Nirmal',
  'Nizamabad',
  'Peddapalli',
  'Rajanna Sircilla',
  'Ranga Reddy',
  'Rangareddy',
  'Sangareddy',
  'Siddipet',
  'Suryapet',
  'Vikarabad',
  'Wanaparthy',
  'Warangal',
  'Warangal Rural',
  'Warangal Urban',
  'Yadadri'],
 'Tripura': ['Dhalai',
  'Gomati',
  'Khowai',
  'North Tripura',
  'Sepahijala',
  'South Tripura',
  'Unakoti',
  'West Tripura'],
 'Uttar Pradesh': ['Agra',
  'Aligarh',
  'Allahabad',
  'Ambedkar Nagar',
  'Amethi',
  'Amroha',
  'Auraiya',
  'Ayodhya',
  'Azamgarh',
  'Baghpat',
  'Bagpat',
  'Bahraich',
  'Ballia',
  'Balrampur',
  'Banda',
  'Bara Banki',
  'Barabanki',
  'Bareilly',
  'Basti',
  'Bhadohi',
  'Bijnor',
  'Budaun',
  'Bulandshahar',
  'Bulandshahr',
  'Chandauli',
  'Chitrakoot',
  'Deoria',
  'Etah',
  'Etawah',
  'Faizabad',
  'Farrukhabad',
  'Fatehpur',
  'Firozabad',
  'Gautam Buddha Nagar',
  'Ghaziabad',
  'Ghazipur',
  'Gonda',
  'Gorakhpur',
  'Hamirpur',
  'Hapur',
  'Hardoi',
  'Hathras',
  'Jalaun',
  'Jaunpur',
  'Jhansi',
  'Jyotiba Phule Nagar',
  'Kannauj',
  'Kanpur Dehat',
  'Kanpur Nagar',
  'Kasganj',
  'Kaushambi',
  'Kheri',
  'Kushi Nagar',
  'Kushinagar',
  'Lalitpur',
  'Lucknow',
  'Maharajganj',
  'Mahoba',
  'Mahrajganj',
  'Mainpuri',
  'Mathura',
  'Mau',
  'Meerut',
  'Mirzapur',
  'Moradabad',
  'Muzaffarnagar',
  'Pilibhit',
  'Pratapgarh',
  'Prayagraj',
  'Rae Bareli',
  'Raebareli',
  'Rampur',
  'Saharanpur',
  'Sambhal',
  'Sant Kabir Nagar',
  'Sant Ravidas Nagar',
  'Sant Ravidas Nagar Bhadohi',
  'Shahjahanpur',
  'Shamli',
  'Shravasti',
  'Shrawasti',
  'Siddharth Nagar',
  'Siddharthnagar',
  'Sitapur',
  'Sonbhadra',
  'Sultanpur',
  'Unnao',
  'Varanasi'],
 'Uttarakhand': ['Almora',
  'Bageshwar',
  'Chamoli',
  'Champawat',
  'Dehradun',
  'Garhwal',
  'Hardwar',
  'Haridwar',
  'Nainital',
  'Pauri Garhwal',
  'Pithoragarh',
  'Rudraprayag',
  'Tehri Garhwal',
  'Udham Singh Nagar',
  'Uttarkashi'],
 'West Bengal': ['Alipurduar',
  'Bankura',
  'Barddhaman',
  'Bardhaman',
  'Birbhum',
  'Burdwan',
  'Cooch Behar',
  'Coochbehar',
  'Dakshin Dinajpur',
  'Darjeeling',
  'Darjiling',
  'Dinajpur Dakshin',
  'Dinajpur Uttar',
  'East Midnapore',
  'East Midnapur',
  'Haora',
  'Hawrah',
  'Hooghiy',
  'Hooghly',
  'Howrah',
  'Hugli',
  'Jalpaiguri',
  'Jhargram',
  'Kalimpong',
  'Koch Bihar',
  'Kolkata',
  'Malda',
  'Maldah',
  'Medinipur',
  'Medinipur West',
  'Murshidabad',
  'Nadia',
  'North Dinajpur',
  'North Parganas',
  'North Twenty Four Parganas',
  'Paraganas North',
  'Paraganas South',
  'Paschim Bardhaman',
  'Paschim Medinipur',
  'Purba Bardhaman',
  'Purba Medinipur',
  'Purulia',
  'Puruliya',
  'South Dinajpur',
  'South Pargana',
  'South Parganas',
  'South Twenty Four Parganas',
  'Uttar Dinajpur',
  'West Medinipur',
  'West Midnapore']}

In [143]:
#  1) Create a helper: safe clean for matching
def _k(x):
    if pd.isna(x):
        return np.nan
    return str(x).strip().lower()

#  2) State-wise district correction rules (based on YOUR dataset list)
district_fix_by_state = {

    #  West Bengal (your biggest duplicates)
    "West Bengal": {
        "coochbehar": "Cooch Behar",
        "koch bihar": "Cooch Behar",
        "darjiling": "Darjeeling",
        "haora": "Howrah",
        "hawrah": "Howrah",
        "howrah": "Howrah",
        "hooghiy": "Hooghly",
        "hugli": "Hooghly",
        "barddhaman": "Purba Bardhaman",
        "bardhaman": "Purba Bardhaman",
        "burdwan": "Purba Bardhaman",
        "paschim bardhaman": "Paschim Bardhaman",
        "purba bardhaman": "Purba Bardhaman",
        "east midnapore": "Purba Medinipur",
        "east midnapur": "Purba Medinipur",
        "purba medinipur": "Purba Medinipur",
        "medinipur": "Paschim Medinipur",
        "medinipur west": "Paschim Medinipur",
        "west medinipur": "Paschim Medinipur",
        "west midnapore": "Paschim Medinipur",
        "malda": "Malda",
        "maldah": "Malda",
        "purulia": "Purulia",
        "puruliya": "Purulia",
        "dinajpur uttar": "Uttar Dinajpur",
        "north dinajpur": "Uttar Dinajpur",
        "dinajpur dakshin": "Dakshin Dinajpur",
        "south dinajpur": "Dakshin Dinajpur",
        "north twenty four parganas": "North 24 Parganas",
        "north parganas": "North 24 Parganas",
        "paraganas north": "North 24 Parganas",
        "south twenty four parganas": "South 24 Parganas",
        "south parganas": "South 24 Parganas",
        "south pargana": "South 24 Parganas",
        "paraganas south": "South 24 Parganas",
    },

    #  Bihar
    "Bihar": {
        "aurangabad bh": "Aurangabad",
        "bhabua": "Kaimur Bhabua",
        "kaimur bhabua": "Kaimur Bhabua",
        "monghyr": "Munger",
        "purnia": "Purnea",
        "purnea": "Purnea",
        "purba champaran": "Purba Champaran",
        "purbi champaran": "Purba Champaran",
        "east champaran": "Purba Champaran",
        "pashchim champaran": "Pashchim Champaran",
        "west champaran": "Pashchim Champaran",
        "samstipur": "Samastipur",
        "sheikpura": "Sheikhpura",
    },

    #  Jharkhand
    "Jharkhand": {
        "east singhbum": "East Singhbhum",
        "kodarma": "Koderma",
        "pakur": "Pakaur",
        "palamu": "Palamau",
        "pashchimi singhbhum": "West Singhbhum",
        "purbi singhbhum": "East Singhbhum",
        "sahebganj": "Sahibganj",
    },

    #  Gujarat
    "Gujarat": {
        "ahmadabad": "Ahmedabad",
        "banas kantha": "Banaskantha",
        "dohad": "Dahod",
        "panch mahals": "Panchmahals",
        "sabar kantha": "Sabarkantha",
        "surendra nagar": "Surendranagar",
        "the dangs": "Dang",
    },

    #  Haryana
    "Haryana": {
        "yamunanagar": "Yamuna Nagar",
        "mewat": "Nuh",
    },

    #  Himachal Pradesh
    "Himachal Pradesh": {
        "lahul spiti": "Lahaul And Spiti",
        "lahul and spiti": "Lahaul And Spiti",
        "lahul spiti": "Lahaul And Spiti",
    },

    #  Karnataka
    "Karnataka": {
        "belgaum": "Belagavi",
        "bellary": "Ballari",
        "bangalore": "Bengaluru Urban",
        "mysore": "Mysuru",
        "shimoga": "Shivamogga",
        "tumkur": "Tumakuru",
        "bijapur": "Vijayapura",
        "bijapur kar": "Vijayapura",
        "hasan": "Hassan",
        "chikmagalur": "Chikkamagaluru",
        "chickmagalur": "Chikkamagaluru",
        "chamrajanagar": "Chamarajanagar",
        "chamrajnagar": "Chamarajanagar",
        "ramanagar": "Ramanagara",
    },

    #  Kerala
    "Kerala": {
        "kasargod": "Kasaragod",
    },

    #  Maharashtra
    "Maharashtra": {
        "ahmadnagar": "Ahmednagar",
        "ahmed nagar": "Ahmednagar",
        "bid": "Beed",
        "buldhana": "Buldana",
        "gondiya": "Gondia",
        "mumbai sub urban": "Mumbai Suburban",
        "osmanabad": "Dharashiv",
        "raigarh": "Raigad",
        "raigarh mh": "Raigad",
    },

    #  Odisha
    "Odisha": {
        "anugal": "Anugul",
        "angul": "Anugul",
        "baleshwar": "Balasore",
        "baleswar": "Balasore",
        "baudh": "Boudh",
        "khorda": "Khordha",
        "sonapur": "Subarnapur",
        "sundergarh": "Sundargarh",
    },

    #  Punjab
    "Punjab": {
        "ferozpur": "Ferozepur",
        "nawanshahr": "Shaheed Bhagat Singh Nagar",
        "s a s nagar": "S A S Nagar Mohali",
        "sas nagar mohali": "S A S Nagar Mohali",
        "s a s nagar mohali": "S A S Nagar Mohali",
        "muktsar": "Sri Muktsar Sahib",
    },

    #  Rajasthan
    "Rajasthan": {
        "chittaurgarh": "Chittorgarh",
        "dhaulpur": "Dholpur",
        "jalore": "Jalor",
        "jhunjhunun": "Jhunjhunu",
    },

    #  Tamil Nadu
    "Tamil Nadu": {
        "kancheepuram": "Kanchipuram",
        "kanniyakumari": "Kanyakumari",
        "tirupattur": "Tirupathur",
        "tuticorin": "Thoothukkudi",
        "the nilgiris": "Nilgiris",
        "viluppuram": "Villupuram",
        "tiruvarur": "Thiruvarur",
        "tiruvallur": "Thiruvallur",
    },

    #  Uttar Pradesh
    "Uttar Pradesh": {
        "bagpat": "Baghpat",
        "bara banki": "Barabanki",
        "bulandshahr": "Bulandshahar",
        "faizabad": "Ayodhya",
        "jyotiba phule nagar": "Amroha",
        "kushi nagar": "Kushinagar",
        "mahrajganj": "Maharajganj",
        "raebareli": "Rae Bareli",
        "sant ravidas nagar bhadohi": "Bhadohi",
        "shrawasti": "Shravasti",
        "siddharthnagar": "Siddharth Nagar",
        "prayagraj": "Allahabad",  # (optional, depends what you prefer)
    },

    #  Uttarakhand
    "Uttarakhand": {
        "hardwar": "Haridwar",
        "garhwal": "Pauri Garhwal",
    },

    #  Puducherry
    "Puducherry": {
        "pondicherry": "Puducherry",
    },

    #  Andaman & Nicobar Islands
    "Andaman & Nicobar Islands": {
        "andamans": "North And Middle Andaman",
        "nicobar": "Nicobar",
        "nicobars": "Nicobar",
    },
}

#  3) Apply fixes state-wise (NO errors)
def fix_district(row):
    st = row["state"]
    dist = row["district"]

    st_key = st
    dist_key = _k(dist)

    if st_key in district_fix_by_state and dist_key in district_fix_by_state[st_key]:
        return district_fix_by_state[st_key][dist_key]
    return dist

#  Create district_fixed column
df_merged["district_fixed"] = df_merged.apply(fix_district, axis=1)

print(" District fixing completed!")
print("Before unique districts:", df_merged["district"].nunique())
print("After unique districts :", df_merged["district_fixed"].nunique())

 District fixing completed!
Before unique districts: 912
After unique districts : 797

### Cheking some state's Districts

In [144]:
wb = df_merged[df_merged["state"]=="West Bengal"]
print(" West Bengal districts (fixed):", wb["district_fixed"].nunique())
sorted(wb["district_fixed"].unique())

 West Bengal districts (fixed): 23

['Alipurduar',
 'Bankura',
 'Birbhum',
 'Cooch Behar',
 'Dakshin Dinajpur',
 'Darjeeling',
 'Hooghly',
 'Howrah',
 'Jalpaiguri',
 'Jhargram',
 'Kalimpong',
 'Kolkata',
 'Malda',
 'Murshidabad',
 'Nadia',
 'North 24 Parganas',
 'Paschim Bardhaman',
 'Paschim Medinipur',
 'Purba Bardhaman',
 'Purba Medinipur',
 'Purulia',
 'South 24 Parganas',
 'Uttar Dinajpur']

In [145]:
bihar = df_merged[df_merged["state"]=="Bihar"]
print(" Bihar districts (fixed):", bihar["district_fixed"].nunique())
sorted(bihar["district_fixed"].unique())

 Bihar districts (fixed): 38

['Araria',
 'Arwal',
 'Aurangabad',
 'Banka',
 'Begusarai',
 'Bhagalpur',
 'Bhojpur',
 'Buxar',
 'Darbhanga',
 'Gaya',
 'Gopalganj',
 'Jamui',
 'Jehanabad',
 'Kaimur Bhabua',
 'Katihar',
 'Khagaria',
 'Kishanganj',
 'Lakhisarai',
 'Madhepura',
 'Madhubani',
 'Munger',
 'Muzaffarpur',
 'Nalanda',
 'Nawada',
 'Pashchim Champaran',
 'Patna',
 'Purba Champaran',
 'Purnea',
 'Rohtas',
 'Saharsa',
 'Samastipur',
 'Saran',
 'Sheikhpura',
 'Sheohar',
 'Sitamarhi',
 'Siwan',
 'Supaul',
 'Vaishali']

In [146]:
df_merged["district"] = df_merged["district_fixed"]
df_merged.drop(columns=["district_fixed"], inplace=True)

print(" district column replaced permanently!")
print(" Unique districts now:", df_merged["district"].nunique())

 district column replaced permanently!
 Unique districts now: 797

In [147]:
df_merged.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_,state_clean
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37,NaN,NaN,NaN,NaN,meghalaya
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39,NaN,NaN,NaN,NaN,karnataka
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,NaN,NaN,NaN,NaN,uttar pradesh
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15,NaN,NaN,NaN,NaN,uttar pradesh
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21,NaN,NaN,NaN,NaN,karnataka

In [148]:
# Fix NaN values
update_cols = ["demo_age_5_17", "demo_age_17_", "bio_age_5_17", "bio_age_17_"]

df_merged[update_cols] = df_merged[update_cols].fillna(0)

print(" NaN values in update columns fixed!")
df_merged[update_cols].isna().sum()

 NaN values in update columns fixed!

demo_age_5_17    0
demo_age_17_     0
bio_age_5_17     0
bio_age_17_      0
dtype: int64

In [149]:
df_merged[update_cols] = df_merged[update_cols].astype(int)

print(" Update columns converted to int")
df_merged.dtypes

 Update columns converted to int

date              datetime64[ns]
state                     object
district                  object
pincode                    int64
age_0_5                    int64
age_5_17                   int64
age_18_greater             int64
demo_age_5_17              int64
demo_age_17_               int64
bio_age_5_17               int64
bio_age_17_                int64
state_clean               object
dtype: object

In [150]:
df_merged.drop(columns = 'state_clean' , inplace = True)

In [151]:
df_merged.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,bio_age_17_
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37,0,0,0,0
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39,0,0,0,0
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,0,0,0,0
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15,0,0,0,0
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21,0,0,0,0

### Check District

In [152]:
# West Bengal Dataset
df_wb = df_merged[df_merged['state'] == 'West Bengal']

In [153]:
df_wb['district'].nunique()

23

In [154]:
# Bihar Dataset
df_bihar = df_merged[df_merged['state'] == 'Bihar']

In [155]:
df_bihar['district'].nunique()

38

In [156]:
# 1) Fill missing update values with 0
update_cols = ["demo_age_5_17", "demo_age_17_", "bio_age_5_17", "bio_age_17_"]

for col in update_cols:
    if col in df_merged.columns:
        df_merged[col] = df_merged[col].fillna(0)

print(" Missing values filled with 0")
 #2) Feature Engineering (Core Features)
df_merged["total_enroll"] = (
    df_merged["age_0_5"] + df_merged["age_5_17"] + df_merged["age_18_greater"]
)

df_merged["total_demo_update"] = df_merged["demo_age_5_17"] + df_merged["demo_age_17_"]
df_merged["total_bio_update"]  = df_merged["bio_age_5_17"] + df_merged["bio_age_17_"]

df_merged["total_updates"] = df_merged["total_demo_update"] + df_merged["total_bio_update"]

df_merged["service_load"] = df_merged["total_enroll"] + df_merged["total_updates"]

# 3) Important ratios (avoid divide by zero using +1)
df_merged["update_pressure"] = df_merged["total_updates"] / (df_merged["total_enroll"] + 1)

df_merged["child_ratio"] = df_merged["age_0_5"] / (df_merged["total_enroll"] + 1)

df_merged["bio_ratio"] = df_merged["total_bio_update"] / (df_merged["total_updates"] + 1)

print(" Feature Engineering completed successfully!")

# 4) Preview new columns
df_merged[[
    "date", "state", "district", "pincode",
    "total_enroll", "total_updates", "service_load",
    "update_pressure", "child_ratio", "bio_ratio"
]].head()

 Missing values filled with 0
 Feature Engineering completed successfully!

,date,state,district,pincode,total_enroll,total_updates,service_load,update_pressure,child_ratio,bio_ratio
0,2025-03-02,Meghalaya,East Khasi Hills,793121,109,0,109,0.0,0.100000,0.0
1,2025-03-09,Karnataka,Bengaluru Urban,560043,86,0,86,0.0,0.160920,0.0
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,123,0,123,0.0,0.233871,0.0
3,2025-03-09,Uttar Pradesh,Aligarh,202133,106,0,106,0.0,0.579439,0.0
4,2025-03-09,Karnataka,Bengaluru Urban,560016,51,0,51,0.0,0.269231,0.0

In [157]:
df_merged.shape

(1158214, 19)

In [158]:
# Confirm no missing in important columns
df_merged[["total_enroll","total_updates","service_load","update_pressure","child_ratio","bio_ratio"]].isna().sum()

total_enroll       0
total_updates      0
service_load       0
update_pressure    0
child_ratio        0
bio_ratio          0
dtype: int64

In [159]:
# Ensure no negative values
(df_merged[["total_enroll","total_updates","service_load"]] < 0).sum()

total_enroll     0
total_updates    0
service_load     0
dtype: int64

In [160]:
df_merged.to_csv("Total_dataset.csv", index=False)

### Risk Score + Risk Label

In [161]:
from sklearn.preprocessing import MinMaxScaler

# 1) Select key features for risk scoring
risk_features = df_merged[["total_enroll", "update_pressure", "child_ratio"]].copy()

#  2) Normalize to 01 scale
scaler = MinMaxScaler()
scaled = scaler.fit_transform(risk_features)

df_merged["enroll_norm"] = scaled[:, 0]
df_merged["update_pressure_norm"] = scaled[:, 1]
df_merged["child_ratio_norm"] = scaled[:, 2]

#  3) Risk score formula (Weighted)
df_merged["risk_score"] = (
    0.45 * (1 - df_merged["enroll_norm"]) +          # low enrollment => high risk
    0.35 * (df_merged["update_pressure_norm"]) +     # high update pressure => high risk
    0.20 * (1 - df_merged["child_ratio_norm"])       # low child ratio => high risk
)

#  Convert to 0100
df_merged["risk_score_0_100"] = (df_merged["risk_score"] * 100).round(2)

print(" Step 7A done: Risk Score created!")
df_merged[["total_enroll", "update_pressure", "child_ratio", "risk_score_0_100"]].head()

 Step 7A done: Risk Score created!

   total_enroll  update_pressure  child_ratio  risk_score_0_100
0           109              0.0     0.100000             61.76
1            86              0.0     0.160920             60.80
2           123              0.0     0.233871             58.91
3           106              0.0     0.579439             52.15
4            51              0.0     0.269231             59.01

### Create Risk Labels (HIGH / MEDIUM / LOW)

In [162]:
#  Quantile-based labeling (data-driven)
q_low = df_merged["risk_score_0_100"].quantile(0.20)
q_high = df_merged["risk_score_0_100"].quantile(0.80)

def label_risk(score):
    if score >= q_high:
        return "HIGH_RISK"
    elif score <= q_low:
        return "LOW_RISK"
    else:
        return "MEDIUM_RISK"

df_merged["risk_label"] = df_merged["risk_score_0_100"].apply(label_risk)

print(" Step 7B done: Risk Labels created!")
print(df_merged["risk_label"].value_counts())

 Step 7B done: Risk Labels created!
risk_label
MEDIUM_RISK    676217
LOW_RISK       249680
HIGH_RISK      232317
Name: count, dtype: int64

### Train Main Model (Risk Classification)

In [163]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

#  1) Input Features (X)
features = [
    "total_enroll",
    "total_updates",
    "service_load",
    "update_pressure",
    "child_ratio",
    "bio_ratio"
]

X = df_merged[features]
y = df_merged["risk_label"]

#  2) Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42, stratify=y
)

print(" Split done!")
print("Train size:", X_train.shape)
print("Test size :", X_test.shape)

#  3) Train Model
clf = RandomForestClassifier(
    n_estimators=200,
    random_state=42,
    class_weight="balanced"
)

clf.fit(X_train, y_train)

#  4) Predictions
y_pred = clf.predict(X_test)

#  5) Evaluation
print("\n Accuracy:", accuracy_score(y_test, y_pred))
print("\n Classification Report:\n", classification_report(y_test, y_pred))

print("\n Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

 Split done!
Train size: (868660, 6)
Test size : (289554, 6)

 Accuracy: 0.9997893311782949

 Classification Report:
               precision    recall  f1-score   support

   HIGH_RISK       1.00      1.00      1.00     58079
    LOW_RISK       1.00      1.00      1.00     62420
 MEDIUM_RISK       1.00      1.00      1.00    169055

    accuracy                           1.00    289554
   macro avg       1.00      1.00      1.00    289554
weighted avg       1.00      1.00      1.00    289554


 Confusion Matrix:
 [[ 58069      0     10]
 [     0  62395     25]
 [    12     14 169029]]

### Feature Importance

In [164]:
feature_importance = pd.DataFrame({
    "feature": X.columns,
    "importance": clf.feature_importances_
}).sort_values(by="importance", ascending=False)

print(" Feature Importance (Most Important Factors):")
feature_importance

 Feature Importance (Most Important Factors):

           feature  importance
4      child_ratio    0.794034
0     total_enroll    0.125488
3  update_pressure    0.028473
2     service_load    0.028202
1    total_updates    0.018912
5        bio_ratio    0.004891

### Predict Risk Label for Full Dataset

###

In [165]:
df_merged["predicted_risk"] = clf.predict(X)
df_merged[["state", "district", "pincode", "risk_score_0_100", "risk_label", "predicted_risk"]].head()

,state,district,pincode,risk_score_0_100,risk_label,predicted_risk
0,Meghalaya,East Khasi Hills,793121,61.76,HIGH_RISK,HIGH_RISK
1,Karnataka,Bengaluru Urban,560043,60.80,HIGH_RISK,HIGH_RISK
2,Uttar Pradesh,Kanpur Nagar,208001,58.91,HIGH_RISK,HIGH_RISK
3,Uttar Pradesh,Aligarh,202133,52.15,MEDIUM_RISK,MEDIUM_RISK
4,Karnataka,Bengaluru Urban,560016,59.01,HIGH_RISK,HIGH_RISK

### Top 20 High Risk Aadhaar Desert List

In [166]:
top_high_risk = df_merged[df_merged["predicted_risk"]=="HIGH_RISK"]\
    .sort_values("risk_score_0_100", ascending=False)\
    .head(20)

top_high_risk[[
    "date", "state", "district", "pincode",
    "risk_score_0_100",
    "total_enroll", "total_updates",
    "update_pressure", "child_ratio", "bio_ratio"
]]

,date,state,district,pincode,risk_score_0_100,total_enroll,total_updates,update_pressure,child_ratio,bio_ratio
817046,2025-11-12,Maharashtra,Yavatmal,445204,89.94,1,1432,716.000000,0.5,0.196092
816964,2025-11-12,Maharashtra,Nanded,431712,88.15,1,1359,679.500000,0.5,0.113971
749991,2025-11-08,Manipur,Bishnupur,795126,87.19,1,908,454.000000,0.0,0.170517
635635,2025-10-31,Manipur,Thoubal,795103,84.88,2,1221,407.000000,0.0,0.222586
635634,2025-10-31,Manipur,Thoubal,795103,84.88,2,1221,407.000000,0.0,0.222586
753809,2025-11-08,Manipur,Thoubal,795103,84.51,2,1198,399.333333,0.0,0.196831
817050,2025-11-12,Manipur,Imphal West,795113,83.45,1,755,377.500000,0.0,0.268519
641925,2025-11-01,Maharashtra,Beed,431122,83.11,1,741,370.500000,0.0,0.425876
812120,2025-11-11,Maharashtra,Nanded,431712,81.57,1,678,339.000000,0.0,0.279823
812121,2025-11-11,Maharashtra,Nanded,431712,81.57,1,678,339.000000,0.0,0.279823
596144,2025-10-29,Maharashtra,Amravati,444702,80.18,1,621,310.500000,0.0,0.327974
689366,2025-11-03,Manipur,Thoubal,795103,80.01,1,614,307.000000,0.0,0.169106
689367,2025-11-03,Manipur,Thoubal,795103,80.01,1,614,307.000000,0.0,0.169106
693254,2025-11-04,West Bengal,Uttar Dinajpur,733202,79.22,1,582,291.000000,0.0,0.193825
557420,2025-10-26,Manipur,Imphal East,795010,78.81,1,565,282.500000,0.0,0.265018
557421,2025-10-26,Manipur,Imphal East,795010,78.81,1,565,282.500000,0.0,0.265018
816912,2025-11-12,Maharashtra,Buldana,443404,78.74,1,562,281.000000,0.0,0.168739
715799,2025-11-06,Manipur,Thoubal,795103,78.52,1,553,276.500000,0.0,0.000000
715798,2025-11-06,Manipur,Thoubal,795103,78.52,1,553,276.500000,0.0,0.000000
653702,2025-11-01,West Bengal,Paschim Medinipur,721127,78.12,1,537,268.500000,0.0,0.102230

### Top 20 High Risk Aadhaar Desert List

In [167]:
top_high_risk.to_csv("Top_20_Aadhaar_Deserts.csv", index=False)
print(" Saved: Top_20_Aadhaar_Deserts.csv")

 Saved: Top_20_Aadhaar_Deserts.csv

# Create Monthly Demand Dataset (Aggregation)

In [168]:
#  Create a month column
df_merged["month"] = df_merged["date"].dt.to_period("M").astype(str)

# Aggregate demand month-wise (you can also do district wise)
monthly_demand = df_merged.groupby(["state", "district", "month"], as_index=False).agg({
    "total_enroll": "sum",
    "total_updates": "sum",
    "service_load": "sum"
})

print(" Monthly demand dataset created!")
print("Shape:", monthly_demand.shape)

monthly_demand.head()

 Monthly demand dataset created!
Shape: (4269, 6)

,state,district,month,total_enroll,total_updates,service_load
0,Andaman & Nicobar Islands,Nicobar,2025-09,55,267,322
1,Andaman & Nicobar Islands,Nicobar,2025-10,11,18,29
2,Andaman & Nicobar Islands,Nicobar,2025-11,17,100,117
3,Andaman & Nicobar Islands,Nicobar,2025-12,6,5,11
4,Andaman & Nicobar Islands,North And Middle Andaman,2025-09,75,486,561

### Create District Summary Table

In [169]:
district_df = df_merged.groupby(["state", "district"], as_index=False).agg({
    "total_enroll": "sum",
    "total_updates": "sum",
    "service_load": "sum",
    "update_pressure": "mean",
    "child_ratio": "mean",
    "bio_ratio": "mean"
})

print(" District dataset created successfully!")
print("Shape:", district_df.shape)
district_df.head()

 District dataset created successfully!
Shape: (816, 8)

,state,district,total_enroll,total_updates,service_load,update_pressure,child_ratio,bio_ratio
0,Andaman & Nicobar Islands,Nicobar,89,390,479,2.826241,0.529787,0.501179
1,Andaman & Nicobar Islands,North And Middle Andaman,238,1192,1430,2.695596,0.512522,0.424532
2,Andaman & Nicobar Islands,South Andaman,262,1355,1617,2.942396,0.503840,0.404831
3,Andhra Pradesh,Adilabad,1662,17925,19587,6.792273,0.466043,0.490571
4,Andhra Pradesh,Alluri Sitharama Raju,1514,6261,7775,2.699095,0.521512,0.394797

In [170]:
district_df.isna().sum()

state              0
district           0
total_enroll       0
total_updates      0
service_load       0
update_pressure    0
child_ratio        0
bio_ratio          0
dtype: int64

In [171]:
district_df.to_csv("district_level_dataset.csv", index=False)
print(" district_level_dataset.csv saved!")

 district_level_dataset.csv saved!

# Create Aadhaar Desert Risk Score (0100) + Risk Label

In [172]:
district_df["risk_score_0_100"] = (
    (district_df["service_load"] - district_df["service_load"].min()) /
    (district_df["service_load"].max() - district_df["service_load"].min() + 1e-9)
) * 100

district_df["risk_score_0_100"] = district_df["risk_score_0_100"].round(2)

print(" Risk score created!")
district_df[["state", "district", "service_load", "risk_score_0_100"]].head()

 Risk score created!

,state,district,service_load,risk_score_0_100
0,Andaman & Nicobar Islands,Nicobar,479,0.09
1,Andaman & Nicobar Islands,North And Middle Andaman,1430,0.26
2,Andaman & Nicobar Islands,South Andaman,1617,0.30
3,Andhra Pradesh,Adilabad,19587,3.61
4,Andhra Pradesh,Alluri Sitharama Raju,7775,1.43

In [173]:
district_df["risk_label"] = pd.qcut(
    district_df["risk_score_0_100"],
    q=3,
    labels=["LOW_RISK", "MEDIUM_RISK", "HIGH_RISK"]
)

print(" Risk labels created!")
district_df["risk_label"].value_counts()

 Risk labels created!

risk_label
MEDIUM_RISK    274
LOW_RISK       272
HIGH_RISK      270
Name: count, dtype: int64

In [174]:
top20 = district_df.sort_values("risk_score_0_100", ascending=False).head(20)

top20[["state", "district", "service_load", "risk_score_0_100", "risk_label"]]

,state,district,service_load,risk_score_0_100,risk_label
453,Maharashtra,Thane,542689,100.00,HIGH_RISK
446,Maharashtra,Pune,399908,73.69,HIGH_RISK
443,Maharashtra,Nashik,359486,66.24,HIGH_RISK
814,West Bengal,South 24 Parganas,318285,58.65,HIGH_RISK
213,Gujarat,Surat,311403,57.38,HIGH_RISK
592,Rajasthan,Jaipur,287468,52.97,HIGH_RISK
441,Maharashtra,Nanded,267022,49.20,HIGH_RISK
806,West Bengal,Murshidabad,264806,48.80,HIGH_RISK
113,Bihar,Purba Champaran,238581,43.96,HIGH_RISK
111,Bihar,Pashchim Champaran,238389,43.93,HIGH_RISK
308,Karnataka,Bengaluru,237834,43.82,HIGH_RISK
452,Maharashtra,Solapur,234824,43.27,HIGH_RISK
808,West Bengal,North 24 Parganas,234706,43.25,HIGH_RISK
181,Delhi,West Delhi,229542,42.30,HIGH_RISK
433,Maharashtra,Jalgaon,229307,42.25,HIGH_RISK
719,Uttar Pradesh,Bareilly,228335,42.07,HIGH_RISK
121,Bihar,Sitamarhi,226953,41.82,HIGH_RISK
418,Maharashtra,Ahmednagar,225621,41.57,HIGH_RISK
705,Uttar Pradesh,Aligarh,224648,41.40,HIGH_RISK
761,Uttar Pradesh,Moradabad,223422,41.17,HIGH_RISK

### Load Monthely data

In [175]:
monthly_df = pd.read_csv("monthly_demand_dataset.csv")

# Demand Prediction Model

### Train the Model

In [186]:
df_merged.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,demo_age_5_17,demo_age_17_,bio_age_5_17,...,child_ratio,bio_ratio,enroll_norm,update_pressure_norm,child_ratio_norm,risk_score,risk_score_0_100,risk_label,predicted_risk,month
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37,0,0,0,...,0.100000,0.0,0.027245,0.0,0.100629,0.617614,61.76,HIGH_RISK,HIGH_RISK,2025-03
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39,0,0,0,...,0.160920,0.0,0.021443,0.0,0.161932,0.607964,60.80,HIGH_RISK,HIGH_RISK,2025-03
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12,0,0,0,...,0.233871,0.0,0.030777,0.0,0.235342,0.589082,58.91,HIGH_RISK,HIGH_RISK,2025-03
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15,0,0,0,...,0.579439,0.0,0.026488,0.0,0.583084,0.521464,52.15,MEDIUM_RISK,MEDIUM_RISK,2025-03
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21,0,0,0,...,0.269231,0.0,0.012614,0.0,0.270924,0.590139,59.01,HIGH_RISK,HIGH_RISK,2025-03

In [176]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Features and Target
X = monthly_df[["total_enroll", "total_updates", "service_load"]]
y = monthly_df["next_month_service_load"]

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Train model
demand_model = RandomForestRegressor(
    n_estimators=200,
    random_state=42
)

demand_model.fit(X_train, y_train)

print(" Demand Prediction Model trained successfully!")

 Demand Prediction Model trained successfully!

### Evaluate the Model

In [177]:
y_pred = demand_model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(" MAE :", mae)
print(" RMSE:", rmse)
print(" R2  :", r2)

 MAE : 7743.951885539403
 RMSE: 11882.11242526269
 R2  : 0.27092392982501134

# Save model

In [178]:
import joblib

joblib.dump(demand_model, "Demand_Prediction_Model.pkl")
print(" Saved: Demand_Prediction_Model.pkl")

 Saved: Demand_Prediction_Model.pkl

In [179]:
demand_model = joblib.load("Demand_Prediction_Model.pkl")

# Predict Next Month Demand for Top High-Risk Districts

### Create Top 20 High-Risk District List (from district_df)

In [180]:
top20_risk = district_df.sort_values("risk_score_0_100", ascending=False).head(20)

top20_risk = top20_risk[["state", "district", "service_load", "risk_score_0_100", "risk_label"]]
top20_risk

,state,district,service_load,risk_score_0_100,risk_label
453,Maharashtra,Thane,542689,100.00,HIGH_RISK
446,Maharashtra,Pune,399908,73.69,HIGH_RISK
443,Maharashtra,Nashik,359486,66.24,HIGH_RISK
814,West Bengal,South 24 Parganas,318285,58.65,HIGH_RISK
213,Gujarat,Surat,311403,57.38,HIGH_RISK
592,Rajasthan,Jaipur,287468,52.97,HIGH_RISK
441,Maharashtra,Nanded,267022,49.20,HIGH_RISK
806,West Bengal,Murshidabad,264806,48.80,HIGH_RISK
113,Bihar,Purba Champaran,238581,43.96,HIGH_RISK
111,Bihar,Pashchim Champaran,238389,43.93,HIGH_RISK
308,Karnataka,Bengaluru,237834,43.82,HIGH_RISK
452,Maharashtra,Solapur,234824,43.27,HIGH_RISK
808,West Bengal,North 24 Parganas,234706,43.25,HIGH_RISK
181,Delhi,West Delhi,229542,42.30,HIGH_RISK
433,Maharashtra,Jalgaon,229307,42.25,HIGH_RISK
719,Uttar Pradesh,Bareilly,228335,42.07,HIGH_RISK
121,Bihar,Sitamarhi,226953,41.82,HIGH_RISK
418,Maharashtra,Ahmednagar,225621,41.57,HIGH_RISK
705,Uttar Pradesh,Aligarh,224648,41.40,HIGH_RISK
761,Uttar Pradesh,Moradabad,223422,41.17,HIGH_RISK

### Latest Month Record for Each District

In [181]:
latest_month_data = monthly_df.sort_values("month").groupby(["state", "district"]).tail(1)

latest_month_data = latest_month_data[["state", "district", "total_enroll", "total_updates", "service_load"]]

latest_month_data.head()

,state,district,total_enroll,total_updates,service_load
115,Andhra Pradesh,Spsr Nellore,1348,0,1348
336,Assam,Sivasagar,80,0,80
1505,Madhya Pradesh,Ashoknagar,868,0,868
627,Chhattisgarh,Gaurella Pendra Marwahi,631,0,631
2085,Mizoram,Hnahthial,2,2,4

### Merge Top20 Risk with Latest Month Data

In [182]:
top20_with_features = top20_risk.merge(
    latest_month_data,
    on=["state", "district"],
    how="left"
)

top20_with_features

,state,district,service_load_x,risk_score_0_100,risk_label,total_enroll,total_updates,service_load_y
0,Maharashtra,Thane,542689,100.00,HIGH_RISK,9801,136919,146720
1,Maharashtra,Pune,399908,73.69,HIGH_RISK,9315,124705,134020
2,Maharashtra,Nashik,359486,66.24,HIGH_RISK,5625,128511,134136
3,West Bengal,South 24 Parganas,318285,58.65,HIGH_RISK,12605,90807,103412
4,Gujarat,Surat,311403,57.38,HIGH_RISK,6888,59449,66337
5,Rajasthan,Jaipur,287468,52.97,HIGH_RISK,8627,66540,75167
6,Maharashtra,Nanded,267022,49.20,HIGH_RISK,2061,106512,108573
7,West Bengal,Murshidabad,264806,48.80,HIGH_RISK,10907,67418,78325
8,Bihar,Purba Champaran,238581,43.96,HIGH_RISK,6950,51006,57956
9,Bihar,Pashchim Champaran,238389,43.93,HIGH_RISK,5541,47719,53260
10,Karnataka,Bengaluru,237834,43.82,HIGH_RISK,6274,42798,49072
11,Maharashtra,Solapur,234824,43.27,HIGH_RISK,3653,105382,109035
12,West Bengal,North 24 Parganas,234706,43.25,HIGH_RISK,8565,55391,63956
13,Delhi,West Delhi,229542,42.30,HIGH_RISK,2529,23618,26147
14,Maharashtra,Jalgaon,229307,42.25,HIGH_RISK,2998,76422,79420
15,Uttar Pradesh,Bareilly,228335,42.07,HIGH_RISK,6021,56331,62352
16,Bihar,Sitamarhi,226953,41.82,HIGH_RISK,4754,33128,37882
17,Maharashtra,Ahmednagar,225621,41.57,HIGH_RISK,2785,86472,89257
18,Uttar Pradesh,Aligarh,224648,41.40,HIGH_RISK,3727,38159,41886
19,Uttar Pradesh,Moradabad,223422,41.17,HIGH_RISK,4640,43984,48624

### Predict Next Month Demand

In [183]:
# if merge created duplicates
if "service_load_x" in top20_with_features.columns:
    top20_with_features.rename(columns={"service_load_x": "service_load"}, inplace=True)

if "service_load_y" in top20_with_features.columns:
    top20_with_features.drop(columns=["service_load_y"], inplace=True)

print(" Fixed service_load columns")

 Fixed service_load columns

In [184]:
X_future = top20_with_features[["total_enroll", "total_updates", "service_load"]]

top20_with_features["predicted_next_month_load"] = demand_model.predict(X_future).round(0)

top20_with_features[[
    "state", "district",
    "risk_score_0_100", "risk_label",
    "service_load",
    "predicted_next_month_load"
]]

,state,district,risk_score_0_100,risk_label,service_load,predicted_next_month_load
0,Maharashtra,Thane,100.00,HIGH_RISK,542689,46915.0
1,Maharashtra,Pune,73.69,HIGH_RISK,399908,49612.0
2,Maharashtra,Nashik,66.24,HIGH_RISK,359486,39247.0
3,West Bengal,South 24 Parganas,58.65,HIGH_RISK,318285,42805.0
4,Gujarat,Surat,57.38,HIGH_RISK,311403,59001.0
5,Rajasthan,Jaipur,52.97,HIGH_RISK,287468,54334.0
6,Maharashtra,Nanded,49.20,HIGH_RISK,267022,27232.0
7,West Bengal,Murshidabad,48.80,HIGH_RISK,264806,49153.0
8,Bihar,Purba Champaran,43.96,HIGH_RISK,238581,57908.0
9,Bihar,Pashchim Champaran,43.93,HIGH_RISK,238389,50797.0
10,Karnataka,Bengaluru,43.82,HIGH_RISK,237834,61705.0
11,Maharashtra,Solapur,43.27,HIGH_RISK,234824,26882.0
12,West Bengal,North 24 Parganas,43.25,HIGH_RISK,234706,54880.0
13,Delhi,West Delhi,42.30,HIGH_RISK,229542,29449.0
14,Maharashtra,Jalgaon,42.25,HIGH_RISK,229307,35345.0
15,Uttar Pradesh,Bareilly,42.07,HIGH_RISK,228335,62735.0
16,Bihar,Sitamarhi,41.82,HIGH_RISK,226953,36870.0
17,Maharashtra,Ahmednagar,41.57,HIGH_RISK,225621,29405.0
18,Uttar Pradesh,Aligarh,41.40,HIGH_RISK,224648,30896.0
19,Uttar Pradesh,Moradabad,41.17,HIGH_RISK,223422,43184.0